[Unit]
Description=Rust eBPF
After=network.target

[Service]
Environment="RUST_LOG=debug"
Type=simple
ExecStart=/opt/rbpf/rbpf -c /opt/rbpf/settings.yaml -r /opt/rbpf/rules/
Restart=always

[Install]
WantedBy=multi-user.target
